In [15]:
import pandas as pd

df = pd.read_csv('homework2_data.csv', sep = ',')

print(df)

            id                                               text author
0      id26305  This process, however, afforded me no means of...    EAP
1      id17569  It never once occurred to me that the fumbling...    HPL
2      id11008  In his left hand was a gold snuff box, from wh...    EAP
3      id27763  How lovely is spring As we looked from Windsor...    MWS
4      id12958  Finding nothing else, not even gold, the Super...    HPL
...        ...                                                ...    ...
19574  id17718  I could have fancied, while I looked at it, th...    EAP
19575  id08973  The lids clenched themselves together as if in...    EAP
19576  id05267  Mais il faut agir that is to say, a Frenchman ...    EAP
19577  id17513  For an item of news like this, it strikes us i...    EAP
19578  id00393  He laid a gnarled claw on my shoulder, and it ...    HPL

[19579 rows x 3 columns]

In [16]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder

df = df.drop(columns=['id'])

categorial_features = ['author']

ct = ColumnTransformer(
       transformers=[
           ('ordinal', OrdinalEncoder(), categorial_features)
       ],
       remainder='passthrough',
       verbose_feature_names_out=False
   )

encoded = ct.fit_transform(df)
df = pd.DataFrame(encoded, columns=ct.get_feature_names_out())
df

      author                                               text
0        0.0  This process, however, afforded me no means of...
1        1.0  It never once occurred to me that the fumbling...
2        0.0  In his left hand was a gold snuff box, from wh...
3        2.0  How lovely is spring As we looked from Windsor...
4        1.0  Finding nothing else, not even gold, the Super...
...      ...                                                ...
19574    0.0  I could have fancied, while I looked at it, th...
19575    0.0  The lids clenched themselves together as if in...
19576    0.0  Mais il faut agir that is to say, a Frenchman ...
19577    0.0  For an item of news like this, it strikes us i...
19578    1.0  He laid a gnarled claw on my shoulder, and it ...

[19579 rows x 2 columns]

In [17]:


class_column = 'author'
print(df[class_column].value_counts())

min_size = df[class_column].value_counts().min()
print('min class size =', min_size)

author
0.0    7900
2.0    6044
1.0    5635
Name: count, dtype: int64
min class size = 5635

In [19]:
df_downsampled = pd.DataFrame()
for class_type in pd.unique(df[class_column].values):
    sampled_class_df = df[df[class_column] == class_type].sample(min_size, random_state=777)
    df_downsampled = pd.concat([df_downsampled, sampled_class_df], ignore_index=True)
df_downsampled = df_downsampled[df_downsampled[class_column].notnull()]
df_downsampled = df_downsampled[df_downsampled['text'].notnull()]
print(df_downsampled)
print(df_downsampled[class_column].value_counts())

      author                                               text
0        0.0  Is sure that it was not the voice of an Englis...
1        0.0  Meantime, our vegetation had perceptibly alter...
2        0.0               "Be a little more explicit," I said.
3        0.0  Yet, for some minutes longer I refrained and s...
4        0.0  Stay here to night, and I will send Jup down f...
...      ...                                                ...
16900    2.0  As a child I had not been content with the res...
16901    2.0  I trod air; no doubt, no fear, no hope even, d...
16902    2.0  A few words from us decided him, and hope and ...
16903    2.0  She did not in the least resemble either of he...
16904    2.0  The veil must be thicker than that invented by...

[16905 rows x 2 columns]
author
0.0    5635
1.0    5635
2.0    5635
Name: count, dtype: int64